.about-me {
    padding: 18px 15px 16px;
}

.about-me svg {
    font-size: 15px;
}

.bio-header,
.pw-header,
.about-me span {
    user-select: none;
}

.bio-header {
    font-size: 9.5px;
    display: flex;
    justify-content: space-between;
}

.bio-header,
.bio-header button {
    margin: 0;
}

.bio-header svg {
    display: block;
}

.account-settings-form {
    display: grid;
    grid-template-rows: max-content 23px 59.5px;
}

.account-settings-form .border-left {
    margin-right: 4px;
}

.account-settings-form .username input {
    width: calc(100% - 4.4px);
    padding-left: 7px;
}

.account-settings-form input:read-only {
    font-size: 14px;
    background-color: transparent;
    padding-top: 3px;
    cursor: default;
}

.account-settings-form input::placeholder {
    color: light-gray;
    font-size: 8px;
}

.account-settings-form .outline {
    font-size: 9px;
    background-color: rgba(0, 0, 0, 0.65);

    margin-top: 4px;
    padding: 3px 3px 0 0;
    border-radius: 5px;
}

.account-settings-form textarea {
    padding: 0 7px 0 3.5px;
}

.account-settings-form textarea::-webkit-scrollbar {
    width: 5px;
}

.account-settings-form textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 5px;
}

.stats {
    width: 97%;
    margin: 6px auto 0;

    display: grid;
    grid-template-areas:
        "icon friends tag"
        "icon messages join-date";

    grid-template-columns: max-content auto max-content;
    column-gap: 6px;
    row-gap: 2px;
    font-size: 8px;
}

.stats span {
    align-self: baseline;
}

.stats span:nth-child(3n) {
    justify-self: end;
}

.stats svg {
    font-size: 12.5px;
    align-self: center;
}

.stats .number {
    font-size: 11.5px;
    margin-right: 2px;
}

.stats .rank {
    font-size: 9px;
    background-color: rgb(95, 20, 20);
    padding: 0 8px 1px;
    border-radius: 25px;
}

.pw-header {
    font-size: 8.5px;
    margin: 0;
}

.pw {
    display: grid;
    row-gap: 3px;
    margin-top: 5px;
}

.pw div {
    display: flex;
}