.auth,
.profile-details {
    width: 185px;
    right: 100px;

    padding: 18px 15px;
    border-radius: 12px;
    position: absolute;
    transform-origin: top;
    scale: 1.1;
}

form input::selection {
    background-color: #5e5e5e;
}

.auth-form input,
.auth-form button,
.profile-details input,
.profile-details button {
    font-family: inherit;
}

.auth-form label,
.auth-form ul,
.profile-details ul {
    user-select: none;
}

.auth-form .dark div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 2px;
}

.border-left::before {
    position: absolute;
    content: "";
    display: inline-block;
    margin-top: 6.5px;
    width: 4px;
    height: 12.8px;
    border-radius: 50px;
    background-color: #707070;
}

.auth-form label {
    padding-left: 4px;
    font-size: 9.5px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.auth-form input,
.profile-details input {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;

    width: 100%;
    font-size: 10.5px;
    padding: 1.5px 8px;
    box-sizing: border-box;

    border: none;
    border-radius: 5px;
    outline: none;
}

.auth-form li,
.profile-details li {
    display: inline;
    width: fit-content;
    font-size: 9px;
}

.auth-form li:hover,
.profile-details li:hover {
    color: yellow;
}

.auth-form button,
.profile-details button {
    background-color: transparent;
    border: none;
    color: inherit;

    font-size: 13.5px;
    padding: 0;
    margin-top: 3px;
}

.auth-form ul,
.profile-details ul {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 0;
}