.coin {
    display: flex;
    align-items: center;

    width: fit-content;
    padding: 1px 10px 1px 4px;
    border-radius: 15px;
}

.coin {
    font-size: 13px;
}

.coin img {
    width: 16px;
    margin-top: 1px;
    margin-right: 1px;
}