@font-face {
    font-family: Gabriola;
    src: url("../assets/font/Gabriola.ttf")
}

.nameTag {
    background-color: black;
    color: white;
    font-family: Gabriola;

    width: fit-content;
    border-radius: 25px;
    margin: 0;
    line-height: 1;

    user-select: none;
    position: relative;
    z-index: 1;
}

.user1 .nameTag {
    font-size: 32px;
    padding: 5px 15px 0px;
}

.user2 .nameTag {
    font-size: 40px;
    padding: 8px 20px 0px 40px;
}