.profile-details {
    padding: 18px 15px 16px;
    right: 100px;
}

.profile-details svg {
    font-size: 14px;
}

.bio-header,
.pw-header,
.profile-details span {
    user-select: none;
}

.bio-header {
    font-size: 9.5px;
    display: flex;
    justify-content: space-between;
}

.bio-header,
.bio-header button {
    margin: 0;
}

.bio-header svg {
    display: block;
}

.bio-form .username {
    height: 23px;
}

.bio-form .border-left {
    margin-right: 5px;
}

.bio-form input {
    width: calc(100% - 4.4px);
    padding-left: 7px;
}

.bio-form input:read-only {
    font-size: 14px;
    background-color: transparent;
    padding-top: 3px;
    cursor: default;
}

.profile-details input::placeholder {
    color: light-gray;
    font-size: 8.5px;
}

.bio-form .outline {
    font-size: 9px;
    background-color: rgba(0, 0, 0, 0.65);

    margin: 4px 0 8px 0;
    padding: 3px 3px 0 0;
    border-radius: 5px;
}

.bio-form textarea {
    padding: 0 7px 0 3.5px;
}

.bio-form textarea::-webkit-scrollbar {
    width: 5px;
}

.bio-form textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 5px;
}

.stats {
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        "icon friends tag"
        "icon messages join-date";

    grid-template-columns: max-content auto max-content;
    column-gap: 6px;
    row-gap: 2px;
    font-size: 8px;
}

.stats span {
    align-self: baseline;
}

.stats span:nth-child(3n) {
    justify-self: end;
}

.stats .number {
    font-size: 11.5px;
    margin-right: 2px;
}

.stats .rank {
    font-size: 9px;
    background-color: rgb(95, 20, 20);
    padding: 0 8px 1px;
    border-radius: 25px;
}

.pw-header {
    font-size: 8.5px;
    margin: 3px 0 0 0;
}

.pw-header svg {
    vertical-align: middle;
}

.pw-header button {
    margin-left: 5px;
}

.pw-form {
    display: grid;
    row-gap: 1px;
}

.profile-details .errorMsg {
    margin-left: 6px;
}

.errorMsg.default {
    height: inherit;
}