@font-face {
    font-family: KristenITC;
    src: url("../assets/font/ITCKRIST.TTF")
}

.outline {
    font-family: KristenITC;
    line-height: 1.45;
}

.light,
.light-outline {
    background-color: rgba(255, 255, 255, 0.70);
    color: #5e5e5e;
}

.light-outline {
    outline: 1px dashed rgba(122, 122, 122, 0.35);
    outline-offset: -6px;
}

.dark,
.dark-outline {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.dark-outline {
    outline: 1px dashed rgba(0, 0, 0, 0.35);
    outline-offset: -6px;
}

.user1 .outline {
    font-size: 14px;
    width: 375px;
    padding: 16px 6px 12px 6px;
    border-radius: 18px;
}

.user1 .outline div {
    height: 60.891px;
    padding: 0 9px 0 7.5px;
    margin: 0 3px;
    overflow-y: scroll;
}

.user2 .outline {
    font-size: 20px;
    width: 750px;
    padding: 19px 6px 6px 6px;
    border-radius: 10px;
}

.user2 .outline div {
    height: 118.14px;
}