body {
    margin: 0;
    background-color: #191919;

    /* prolly need another container later */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat {
    width: 1280px;
    height: 720px;
    position: relative;
    background: url("assets/background/sand-castle-seagulls-anime-seascape-clouds-beach-summer.jpg");
    background-size: 100% 100%;
    z-index: 0;
}

.chat-container1,
.chat-container2 {
    width: fit-content;
    position: absolute;
}

.chat-container1 {
    top: 115px;
    left: 200px;
}

.chat-container2 {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 35px;
    zoom: 1.2;
}

img[alt="AI avatar"],
img[alt="User avatar"] {
    -webkit-user-drag: none;
    user-select: none;
    position: absolute;
}

img[alt="AI avatar"] {
    width: 410px;
    left: 275px;
    top: -55px;
    z-index: -1;
}

img[alt="User avatar"] {
    width: 145px;
    left: -55px;
    top: -80px;
    z-index: 2;
}