@font-face {
    font-family: KristenITC;
    src: url("assets/ITCKRIST.TTF")
}

.AiChatBox {
    font-size: 14px;
    width: 375px;
    padding: 16px 6px 12px 6px;
    border-radius: 18px;
    outline-offset: -6px;
    color: #5e5e5e;
}

.userChatBox {
    font-size: 20px;
    width: 750px;
    padding: 19px 6px 6px 6px;
    border-radius: 10px;
    outline-offset: -4px;
    color: #5e5e5e;
}

.AiChatBox,
.userChatBox {
    font-family: KristenITC;
    background-color: rgba(255, 255, 255, 0.70);
    margin-top: -14px;
    outline: 1px dashed rgba(122, 122, 122, 0.65);
}

textarea {
    resize: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    width: calc(100% - 6px);
    display: block;
    margin: 0 auto;
    line-height: 1.45;

    box-sizing: border-box;
    padding: 0px 9px 0 7.5px;
    border: none;
    outline: none;
    cursor: auto;
}

textarea[readOnly] {
    cursor: default;
}

textarea::selection {
    background-color: #5e5e5e;
    color: white;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
}

.chatBoxNav ul {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    font-size: 16px;
    text-align: right;
    user-select: none;
}

.chatBoxNav li {
    display: inline;
    margin-right: 17px;
}